html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.grid {
  top: 15%;
  margin-left: 10%;
  margin-right: 10%;
}
.grid-sizer,
.grid-item {
  width: 33.33%;
}
/*
.grid-item {
    display: block;
}
*/
.fit-box {
  margin: 0;
  height: auto;
}
