{% extends "blog/base.html" %}
{% load bootstrap %}
{% load compress %}


{% block title %}Post{% endblock %}

{% block content %}

    <center>
        <div class="page-header">
            <h1>Post a Photo</h1>
        </div>
    </center>

    <div>
        <form method="post">{% csrf_token %}
            {{ project_form|bootstrap_horizontal }}
            <input type="submit" name="project-submit" value="Submit">
        </form>
    </div>
    <p>{{ project_message }}</p>

    <br><br>

    <div>
        <form method="post" enctype=multipart/form-data>{% csrf_token %}
            {{ post_form|bootstrap_horizontal }}
            <input type="submit" name="post-photo-submit" value="Submit">
        </form>
    </div>
    <p>{{ post_message }}</p>

{% endblock %}