{% extends "blog/base.html" %}
{% load bootstrap %}
{% load compress %}


{% block title %}{{ project }}{% endblock %}

{% block styles %}

    {{ block.super }}

    <!-- Slide Horizontal Browse CSS -->
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}lib/deck.js/themes/transition/horizontal-slide.css">

    <!-- Blog CSS -->
    {% if debug %}
        <link href="{{ STATIC_URL }}less/project.less" media="all" rel="stylesheet/less" type="text/css"/>
        <script src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>
    {% else %}
        {% compress css %}
            <link href="{{ STATIC_URL }}less/project.less" media="all" rel="stylesheet" type="text/less"/>
        {% endcompress %}
    {% endif %}

{% endblock %}


{% block content %}

    <div id="toggle-visibility">
        <div class="deck-container">
            {% for pic in photos %}
                <section class="slide" id="{{ pic.image_name }}">
                    <image class="slide-image" src="{{ pic.image_path }}">
                 </section>
            {% endfor %}
        </div>

        <!-- deck.navigation snippet -->
        <div aria-role="navigation">
            <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
            <a href="#" class="deck-next-link" title="Next">&#8594;</a>
        </div>

        <!-- deck.status snippet -->
        <p class="deck-status" aria-role="status">
          <span class="deck-status-current"></span>
          /
          <span class="deck-status-total"></span>
        </p>

        <!-- Exit slideshow button -->
        <a href="#" class="exit-deck">x</a>
    </div>

    <div class="grid">
        {% for pic in photos %}
            <div class="grid-item" id="{{ pic.image_name }}">
                <image class="fit-box" style="cursor: pointer;" src="{{ pic.image_path }}">
             </div>
        {% endfor %}
    </div>

{% endblock %}


{% block scripts %}

    {{ block.super }}

    <!-- External JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

    <!-- Project JS -->
    <script src="{{ STATIC_URL }}js/project.js"></script>

{% endblock%}
